# MongoDB Configuration
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/
MONGO_DB_NAME=db_raiz_do_bem

# Twilio Configuration
TWILIO_ACCOUNT_SID=your_twilio_account_sid_here
TWILIO_AUTH_TOKEN=your_twilio_auth_token_here
TWILIO_NUMBER=whatsapp:+14155238886
TWILIO_TEMPLATE_SID=HXb5b62575e6e4ff6129ad7c8efe1f983e
